body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  color: rebeccapurple;
  text-align: center;
}

hr {
  border: none;
  height: 1px;
  background-color: #333;
  margin: 20px 20px; /* Space above and below */
}

.header-image-container {
  margin: auto;
  width: fit-content;
}

.header-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}
